<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <time type="FastLocal" />
  
  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <default-wrapper xsi:type="AsyncWrapper" timeToSleepBetweenBatches="0" overflowAction="Block" />

    <target xsi:type="File"
            name="errors"
            fileName="${basedir}/data/errors_${shortdate}.log"
            layout="${date:format=dd-HH\:mm\:ss.fff} ${message}" />

    <target xsi:type="File"
            name="stats"
            fileName="${basedir}/data/stats_${shortdate}.log"
            keepFileOpen="True"
            concurrentwrites="False"
            layout="${date:format=dd-HH\:mm\:ss.fff} ${message}" />

    <target xsi:type="File"
            name="frames"
            fileName="${basedir}/data/frames_${shortdate}.log"
            layout="${message}" />
    
    <target xsi:type="File"
            name="input"
            fileName="${basedir}/data/input_${shortdate}.log"
            keepFileOpen="True"
            concurrentwrites="False"
            layout="${message}" />

    <target xsi:type="File"
            name="output"
            fileName="${basedir}/data/output_${shortdate}.log"
            keepFileOpen="True"
            concurrentwrites="False"
            layout="${message}" />
    
  </targets>

  <rules>
    <logger name="*errors" minlevel="Debug" writeTo="errors" />
    <logger name="*stats" minlevel="Debug" writeTo="stats" />
    <logger name="*frames" minlevel="Debug" writeTo="frames" />
    <logger name="*input" minlevel="Debug" writeTo="input" />
    <logger name="*output" minlevel="Debug" writeTo="output" />

  </rules>


</nlog>
